* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
    font-size: 16px;
}

body {
    background: #6c5ce7;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 950px;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}

.card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__content {
    border: 1px solid #e0e0e0;
    box-shadow: 0 6px 13px -12px rgb(50 50 93 / 20%),
        0 3px 7px -3px rgb(110 110 110 / 10%);
    border-radius: 4px;
    background-color: white;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.btn {
    border: 1px solid #6a727a;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary {
    background: #fff;
    color: black;
}

.btn-secondary:hover {
    background: #f1f1f1;
    color: #6a727a;
}

table {
    background: #f1f1f1;
    margin-top: 20px;
    margin-bottom: 30px;
}
.table--filter {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 30px;
    margin-bottom: 20px;
}

.table--filter--list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.table--filter--link--active {
    color: #006fbb;
    font-weight: 500;
}

.table--filter--link {
    margin-right: 1rem;
}

.table--filter--collapseBtn {
    display: none;
}

ul {
    list-style: none;
}

.table--search {
    padding: 0 30px;
    display: grid;
    -ms-grid-columns: minmax(150px, auto) minmax(180px, 1fr);
    grid-template-columns: minmax(150px, auto) minmax(180px, 1fr);
    margin-top: 30px;
    margin-bottom: 30px;
}

.table--search--wrapper {
    position: relative;
}

.table--search--select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #eeeeee;
    color: #6a727a;
    width: 100%;
    border: none;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.relative {
    position: relative;
}

.table--search--input--icon {
    top: 12px;
    left: 12px;
    color: #d4d4d4;
    position: absolute;
}

.table--search--input {
    width: 100%;
    border: none;
    color: #454f5b;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 40px;
}

.table--heading {
    padding: 0 30px;
    gap: 10px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    color: #808891;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1.2rem;
    margin-top: 20px;
}

.table--items {
    padding: 10px 30px !important;
    gap: 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(100px, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.6rem 0;
}

.table--items--transactionId {
    color: #006fbb;
    font-weight: 500;
}

.input {
    padding: 9px 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 100%;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
